/* start - SVG styles affecting other elements outside the svg */
#hanger_background_in_place_parts{
.st0{fill:#FEFEFE;}
.st1{fill:#010101;}
.st2{fill:#020202;}
.st3{fill:#040404;}
.st4{fill:#050505;}
.st5{fill:#5E5E5E;}
.st6{fill:#FFFFFF;}
.st7{fill:#CDCDCD;}
.st8{fill:#CFCFCF;}
.st9{fill:#F39200;}
.st10{fill:#CECECE;}
.st11{fill:#F69300;}
.st12{fill:#FE9800;}
.st13{fill:#FDFDFD;}
.st14{fill:#FAFAFA;}
.st15{fill:#FBFBFB;}
.st16{fill:#FCFCFC;}
.st17{fill:#F89500;}
.st18{fill:#FC9700;}
.st19{fill:#F9F9F9;}
.st20{fill:#F19100;}
.st21{fill:#F79400;}
.st22{fill:#F49300;}
.st23{fill:#FA9600;}
.st24{fill:#F1F1F1;}
.st25{fill:#F8F8F8;}
.st26{fill:#DFDFDF;}
.st27{fill:#E1E1E1;}
.st28{fill:#ECECEC;}
.st29{fill:#E9E9E9;}
.st30{fill:#EAEAEA;}
.st31{fill:#EDEDED;}
.st32{fill:#D8D8D8;}
.st33{fill:#E0E0E0;}
.st34{fill:#DDDDDD;}
.st35{fill:#E4E4E4;}
.st36{fill:#AEAEAE;}
.st37{fill:#F0F0F0;}
.st38{fill:#D0D0D0;}
.st39{fill:#D3D3D3;}
.st40{fill:#0A0A0A;}
.st41{fill:#D1D1D1;}
.st42{fill:#D2D2D2;}
.st43{fill:#F5F5F5;}
.st44{fill:#CBCBCB;}
.st45{fill:#CCCCCC;}
.st46{fill:#555555;}
.st47{fill:#C9C9C9;}
.st48{fill:#CACACA;}
.st49{fill:#F4F4F4;}
.st50{fill:#F2F2F2;}
.st51{fill:#F3F3F3;}
.st52{fill:#969696;}
.st53{fill:#FF9900;}
.st54{fill:#FF9901;}
.st55{fill:#C5C5C5;}
.st56{fill:#C8C8C8;}
.st57{fill:#C4C4C4;}
.st58{fill:#F6F6F6;}
.st59{fill:#BABABA;}
.st60{fill:#F29100;}
.st61{fill:#EEEEEE;}
.st62{fill:#D7D7D7;}
.st63{fill:#B7B7B7;}
.st64{fill:#656565;}
.st65{fill:#646464;}
.st66{fill:#050403;}
.st67{fill:#0B0703;}
.st68{fill:#090602;}
.st69{fill:#D4D4D4;}
.st70{fill:#101010;}
.st71{fill:#EBEBEB;}
.st72{fill:#A5A5A5;}
.st73{fill:#7F7F7F;}
.st74{fill:#F99500;}
.st75{fill:#F7F7F7;}
.st76{fill:#FEFEFD;}
.st77{fill:#020101;}
.st78{fill:#020201;}
.st79{fill:#030202;}
.st80{fill:#080808;}
.st81{fill:#0C0C0C;}
.st82{fill:#FFFEFC;}
.st83{fill:#050300;}
.st84{fill:#FFFDFA;}
.st85{fill:#2E1B00;}
.st86{fill:#FC9801;}
.st87{fill:#F79603;}
.st88{fill:#F89602;}
.st89{fill:#EFEFEF;}
.st90{fill:#F99602;}
.st91{fill:#C6C6C6;}
.st92{fill:#FB9702;}
.st93{fill:#C3C3C3;}
.st94{fill:#0D0D0D;}
.st95{fill:#0E0E0E;}
.st96{fill:#C7C7C7;}
.st97{fill:#FCFCFC;stroke:#000000;stroke-width:3;stroke-miterlimit:10;}
.st98{fill:none;stroke:#FFFFFF;stroke-width:10;stroke-miterlimit:10;}
.st99{fill:#030303;}
.st100{fill:#040302;}
.st101{fill:#0B0B0B;}
.st102{fill:#090909;}
.st103{fill:#040402;}
.st104{fill:#050504;}
.st105{fill:#FFFDFB;}
.st106{fill:#FFFAF4;}
.st107{fill:#FEFDFC;}
.st108{fill:#E88C03;}
.st109{fill:#5F5F5F;}
.st110{fill:#E6E6E6;}
.st111{fill:#E7E7E7;}
.st112{fill:#8C8C8C;}
.st113{fill:#FB9700;}
.st114{fill:#040403;}
.st115{fill:#080501;}
.st116{fill:#0B0802;}
.st117{fill:#FFFBF6;}
.st118{fill:#D5D5D5;}
.st119{fill:#060606;}
.st120{fill:#070707;}
.st121{fill:#D6D6D6;}
.st122{fill:#DBDBDB;}
.st123{fill:#DADADA;}
.st124{fill:#FE9900;}
.st125{fill:#FDFEFE;}
.st126{fill:#F3FCFC;}
.st127{fill:#FAFBFB;}
.st128{fill:#FCFDFD;}
.st129{fill:#FE9901;}
.st130{fill:#FCFEFE;}
.st131{fill:#EDF5F5;}
.st132{fill:#C4C9C9;}
.st133{fill:#C3C9C9;}
.st134{fill:#E6F0F0;}
.st135{fill:#F5F6F6;}
.st136{fill:#F9F8F6;}
.st137{fill:#F7F8F8;}
.st138{fill:#F5F7F7;}
.st139{fill:#F7FBFB;}
.st140{fill:#F0F3F3;}
.st141{fill:#F6F6EF;}
.st142{fill:#F0F1F1;}
.st143{fill:#F2F4F4;}
.st144{fill:#F3F5F5;}
.st145{fill:#F0F4F4;}
.st146{fill:#FAF9F9;}
.st147{fill:#FAF8F8;}
.st148{fill:#A5A4A4;}
.st149{fill:#B3B9B9;}
.st150{fill:#EAE9E9;}
.st151{fill:#AFB5B5;}
.st152{fill:#A0A1A1;}
.st153{fill:#060401;}
.st154{fill:#FDF9F5;}
.st155{fill:#120A00;}
.st156{fill:#281700;}
.st157{fill:#2F2D2D;}
.st158{fill:#251E1E;}
.st159{fill:#1E1A1A;}
.st160{fill:#2A2828;}
.st161{fill:#231C1C;}
.st162{fill:#181313;}
.st163{fill:#1C1919;}
.st164{fill:#F4F7F7;}
.st165{fill:#312A2A;}
.st166{fill:#F4F5F5;}
.st167{fill:#E7ECEC;}
.st168{fill:#EBECEC;}
.st169{fill:#F8F9F9;}
.st170{fill:#DEE1E1;}
.st171{fill:#EBF0F0;}
.st172{fill:#E3E9E9;}
.st173{fill:#DCE4E4;}
.st174{fill:#373030;}
.st175{fill:#474747;}
.st176{fill:#D2D4D4;}
.st177{fill:#312B2B;}
.st178{fill:#3D3131;}
.st179{fill:#B2B8B8;}
.st180{fill:#F9FEFE;}
.st181{fill:#B5BBBB;}
.st182{fill:#AFB2B2;}
.st183{fill:#4F5959;}
.st184{fill:#7C8787;}
.st185{fill:#889191;}
.st186{fill:#110F0F;}
.st187{fill:#100D0D;}
.st188{fill:#101111;}
.st189{fill:#1C1818;}
.st190{fill:#1C1713;}
.st191{fill:#231A10;}
.st192{fill:#150D00;}
.st193{fill:#EDF4F4;}
.st194{fill:#E3EBEB;}
.st195{fill:#D98300;}
.st196{fill:#F19200;}
.st197{fill:#FD9801;}
.st198{fill:#FBFCFC;}
.st199{fill:#F9FCFA;}
.st200{fill:#F8FAFA;}
.st201{fill:#CBC9C9;}
.st202{fill:#B5B7B7;}
.st203{fill:#F3F4F4;}
.st204{fill:#FA9705;}
.st205{fill:#F6FAFA;}
.st206{fill:#F7F6F2;}
.st207{fill:#E48E0B;}
.st208{fill:#E58E0A;}
.st209{fill:#F9FCFC;}
.st210{fill:#E89013;}
.st211{fill:#EDEFEF;}
.st212{fill:#F2EDE4;}
.st213{fill:#F5F9F9;}
.st214{fill:#F0F1EE;}
.st215{fill:#F99702;}
.st216{fill:#F39708;}
.st217{fill:#D5870F;}
.st218{fill:#F2EFE9;}
.st219{fill:#F2ECE0;}
.st220{fill:#F2ECE1;}
.st221{fill:#A9A7A7;}
.st222{fill:#0A0909;}
.st223{fill:#1B1B1B;}
.st224{fill:#0B0A08;}
.st225{fill:#090603;}
.st226{fill:#F0F7F2;}
.st227{fill:#F9FBFB;}
.st228{fill:#FAFCFC;}
.st229{fill:#E4E6E6;}
.st230{fill:#FFFEFE;}
.st231{fill:#140B0B;}
.st232{fill:#1B1919;}
.st233{fill:#FE9801;}
.st234{fill:#CBCCCC;}
.st235{fill:#FCFDFC;}
.st236{fill:#F7F9F9;}
.st237{fill:#B7BABA;}
.st238{fill:#F2F3F3;}
.st239{fill:#FB9806;}
.st240{fill:#F6F9F9;}
.st241{fill:#F8F8F6;}
.st242{fill:#DD8C0D;}
.st243{fill:#EC910A;}
.st244{fill:#EC951B;}
.st245{fill:#EBEDED;}
.st246{fill:#FFFBF5;}
.st247{fill:#E2E6E5;}
.st248{fill:#F49606;}
.st249{fill:#F79909;}
.st250{fill:#DF8C0E;}
.st251{fill:#E5E2E0;}
.st252{fill:#ECE9E1;}
.st253{fill:#EDEBE6;}
.st254{fill:#1D1717;}
.st255{fill:#F9F9F5;}
.st256{fill:#0C0700;}
.st257{fill:#180F00;}
.st258{fill:#180E0E;}
.st259{fill:#161313;}
.st260{fill:#FD9800;}
.st261{fill:#FB9701;}
.st262{fill:#F4F4F3;}
.st263{fill:#EFF0F0;}
.st264{fill:#F5F8F8;}
.st265{fill:#F6F8F8;}
.st266{fill:#F4F9F9;}
.st267{fill:#EAEBEB;}
.st268{fill:#DD8500;}
.st269{fill:#F9FDFD;}
.st270{fill:#EFF3F3;}
.st271{fill:#DFE7E7;}
.st272{fill:#F2F0EB;}
.st273{fill:#E5E7E7;}
.st274{fill:#F59000;}
.st275{fill:#E2E6E6;}
.st276{fill:#DFE2E2;}
.st277{fill:#F1F0E5;}
.st278{fill:#F5F0E4;}
.st279{fill:#D3D9CB;}
.st280{fill:#B8B7B7;}
.st281{fill:#090805;}
.st282{fill:#231400;}
.st283{fill:#262424;}
.st284{fill:#0B0909;}
.st285{fill:#201D1D;}
.st286{fill:#151111;}
.st287{fill:#869B9B;}
.st288{fill:#CCCDCD;}
.st289{fill:#F9FAFA;}
.st290{fill:#F7FAFA;}
.st291{fill:#FC9902;}
.st292{fill:#F1F4F4;}
.st293{fill:#FCFBF9;}
.st294{fill:#E6E7E7;}
.st295{fill:#E3E5E5;}
.st296{fill:#F6F5F3;}
.st297{fill:#F59300;}
.st298{fill:#FCF7F4;}
.st299{fill:#F89702;}
.st300{fill:#E8E9E9;}
.st301{fill:#E48900;}
.st302{fill:#E5ECEC;}
.st303{fill:#F3F0F0;}
.st304{fill:#EAEFEF;}
.st305{fill:#F5FAFA;}
.st306{fill:#F5EFED;}
.st307{fill:#EAEEEE;}
.st308{fill:#E5EBE6;}
.st309{fill:#ED8A03;}
.st310{fill:#E4E8E8;}
.st311{fill:#120E00;}
.st312{fill:#231F1F;}
.st313{fill:#090808;}
.st314{fill:#1F1313;}
.st315{fill:#262121;}
.st316{fill:#010000;}
.st317{fill:#F0F6F2;}
.st318{fill:#F1F6F1;}
.st319{fill:#1A1313;}
.st320{fill:#8C9B9B;}
.st321{fill:#482F03;}
.st322{fill:#A56700;}
.st323{fill:#96620B;}
.st324{fill:#1B1A1A;}
.st325{fill:#231E1E;}
.st326{fill:#F2F9F9;}
.st327{fill:#F8F7EF;}
.st328{fill:#0D0C0C;}
.st329{fill:#0E0D0D;}
.st330{fill:#0A0701;}
.st331{fill:#0A0603;}
.st332{fill:#120B03;}
.st333{fill:#120D05;}
.st334{fill:#C4BDBD;}
.st335{fill:#DBDCDC;}
.st336{fill:#D0DEDE;}
.st337{fill:#E5EFEF;}
.st338{fill:none;}
.st339{font-family:'simpleshow';}
.st340{font-size:25px;}
}
#feedback_win{
	.st0{fill:#FFFFFF;}
	.st1{fill:#010000;}
	.st2{fill:#FEFEFE;}
	.st3{fill:#010101;}
	.st4{fill:#030303;}
	.st5{fill:#060606;}
	.st6{fill:#020202;}
	.st7{fill:#CDCDCD;}
	.st8{fill:#FF9900;}
	.st9{fill:#CECECE;}
	.st10{fill:#FDFDFD;}
	.st11{fill:#FE9800;}
	.st12{fill:#CCCCCC;}
	.st13{fill:#CBCBCB;}
	.st14{fill:#FEFDFC;}
	.st15{fill:#FE9801;}
	.st16{fill:#FCFCFC;}
	.st17{fill:#FC9803;}
	.st18{fill:#FDFCFB;}
	.st19{fill:#FD9800;}
	.st20{fill:#F6F6F6;}
	.st21{fill:#F9F9F9;}
	.st22{fill:#F7F7F7;}
	.st23{fill:#F8F8F8;}
	.st24{fill:#F0F0F0;}
	.st25{fill:#C8C8C8;}
	.st26{fill:#FBFBF9;}
	.st27{fill:#F6F5F3;}
	.st28{fill:#FBFBFB;}
	.st29{fill:#F5F5F5;}
	.st30{fill:#C3C3C3;}
	.st31{fill:#EFEFEF;}
	.st32{fill:#F4F4F4;}
	.st33{fill:#F7F4F0;}
	.st34{fill:#EBEBEB;}
	.st35{fill:#C9C9C9;}
	.st36{fill:#F9F6F1;}
	.st37{fill:#F6F3EE;}
	.st38{fill:#FAF8F5;}
	.st39{fill:#F1F1F1;}
	.st40{fill:#F7F4EF;}
	.st41{fill:#F3F1EE;}
	.st42{fill:#E5E5E5;}
	.st43{fill:#F19100;}
	.st44{fill:#E6E6E6;}
	.st45{fill:#E1E1E1;}
	.st46{fill:#EEEEEE;}
	.st47{fill:#E0E0E0;}
	.st48{fill:#16130E;}
	.st49{fill:#F2EDE6;}
	.st50{fill:#F8F5F1;}
	.st51{fill:#D9D9D9;}
	.st52{fill:#E7E7E7;}
	.st53{fill:#ECECEC;}
	.st54{fill:#EDE9E3;}
	.st55{fill:#F3EDE3;}
	.st56{fill:#DEDEDE;}
	.st57{fill:#9E9E9E;}
	.st58{fill:#D9BF98;}
	.st59{fill:#747474;}
	.st60{fill:#B5B5B5;}
	.st61{fill:#DFCDB2;}
	.st62{fill:#5F5F5F;}
	.st63{fill:#191919;}
	.st64{fill:#040404;}
	.st65{fill:#121212;}
	.st66{fill:#D1D1D1;}
	.st67{fill:#070707;}
	.st68{fill:#0C0C0C;}
	.st69{fill:#0A0A0A;}
	.st70{fill:#0D0D0D;}
	.st71{fill:#0F0F0F;}
	.st72{fill:#080808;}
	.st73{fill:#050505;}
	.st74{fill:#110C06;}
	.st75{fill:#F5EDE2;}
	.st76{fill:#131313;}
	.st77{fill:#373737;}
	.st78{fill:#1B1B1B;}
	.st79{fill:#141414;}
	.st80{fill:#1A1A1A;}
	.st81{fill:#090500;}
	.st82{fill:#FC9700;}
	.st83{fill:#FB9600;}
	.st84{fill:#F69400;}
	.st85{fill:#DCDCDC;}
	.st86{fill:#FAFAFA;}
	.st87{fill:#F3F3F3;}
	.st88{fill:none;}
	.st89{font-family:'simpleshow';}
	.st90{font-size:48px;}
	.st91{font-size:40px;}
	.st92{fill:#020201;}
	.st93{fill:#090909;}
	.st94{fill:#FEFEFD;}
	.st95{fill:#070400;}
	.st96{fill:#080500;}
}
/* end - SVG styles affecting other elements outside the svg */

#feedback_win{
	max-width: 80vw;
	position: absolute;
	left: 10%;
	right: 0;
	top: 4%;
	visibility: hidden;
}

#large_box_feedback, #medium_box_feedback, #small_box_feedback {
	opacity: 0;
}

@mixin feedback_win_animation($name, $time) {
	.#{$name}-box-animation {
		visibility: visible;
		animation:
			dropIn #{$time}s ease forwards,
			float 1s infinite alternate;
	}
}

@include feedback_win_animation("large", 1);
@include feedback_win_animation("medium", 2.5);
@include feedback_win_animation("small", 3.5);

#i_simplemech_xA0_head_in_place,
#i_simplemech_xA0_leg1_in_place, #i_simplemech_xA0_leg2_in_place,
#i_simplemech_xA0_arm_1_in_place, #i_simplemech_xA0_arm_2_in_place,
#i_simplemech_xA0_chest_in_place {
	visibility: hidden;
}

#restart_button {
	cursor: pointer;
}

#restart_button:hover{
	fill: #0FC161;
}
