/* start - SVG styles affecting other elements outside the svg */
#overlay_box {
	.st0 {
	fill: #FFFFFF;
	}

	.st1 {
		fill: #010000;
	}

	.st2 {
		fill: #FEFEFE;
	}

	.st3 {
		fill: #010101;
	}

	.st4 {
		fill: #060606;
	}

	.st5 {
		fill: #030303;
	}

	.st6 {
		fill: #FF9900;
	}

	.st7 {
		fill: #CDCDCD;
	}

	.st8 {
		fill: #FE9900;
	}

	.st9 {
		fill: #CCCCCC;
	}

	.st10 {
		fill: #F7F7F7;
	}

	.st11 {
		fill: #FEFEFD;
	}

	.st12 {
		fill: #FD9800;
	}

	.st13 {
		fill: #CACACA;
	}

	.st14 {
		fill: #FDFDFD;
	}

	.st15 {
		fill: #FCFCFC;
	}

	.st16 {
		fill: #FC9700;
	}

	.st17 {
		fill: #FEFDFC;
	}

	.st18 {
		fill: #FCFBFA;
	}

	.st19 {
		fill: #FCFCFA;
	}

	.st20 {
		fill: #FD9903;
	}

	.st21 {
		fill: #F5F5F5;
	}

	.st22 {
		fill: #CBCBCB;
	}

	.st23 {
		fill: #FBFAF8;
	}

	.st24 {
		fill: #F6F6F6;
	}

	.st25 {
		fill: #F3F3F3;
	}

	.st26 {
		fill: #FBFBFB;
	}

	.st27 {
		fill: #FAFAFA;
	}

	.st28 {
		fill: #F4F4F4;
	}

	.st29 {
		fill: #FFFBF6;
	}

	.st30 {
		fill: #F0F0F0;
	}

	.st31 {
		fill: #F2F2F2;
	}

	.st32 {
		fill: #EEEEEE;
	}

	.st33 {
		fill: #F8F8F8;
	}

	.st34 {
		fill: #E7E7E7;
	}

	.st35 {
		fill: #E8E8E8;
	}

	.st36 {
		fill: #F1F1F1;
	}

	.st37 {
		fill: #E88B00;
	}

	.st38 {
		fill: #E6E6E6;
	}

	.st39 {
		fill: #E3E3E3;
	}

	.st40 {
		fill: #EDEDED;
	}

	.st41 {
		fill: #E2E2E2;
	}

	.st42 {
		fill: #E5E5E5;
	}

	.st43 {
		fill: #DCDCDC;
	}

	.st44 {
		fill: #DEDEDE;
	}

	.st45 {
		fill: #D3D3D3;
	}

	.st46 {
		fill: #E0E0E0;
	}

	.st47 {
		fill: #C4C4C4;
	}

	.st48 {
		fill: #B7B7B7;
	}

	.st49 {
		fill: #8E8E8E;
	}

	.st50 {
		fill: #8F8F8F;
	}

	.st51 {
		fill: #7E7E7E;
	}

	.st52 {
		fill: #8A8A8A;
	}

	.st53 {
		fill: #070707;
	}

	.st54 {
		fill: #040404;
	}

	.st55 {
		fill: #0A0A0A;
	}

	.st56 {
		fill: #0B0B0B;
	}

	.st57 {
		fill: #090909;
	}

	.st58 {
		fill: #0C0C0C;
	}

	.st59 {
		fill: #020101;
	}

	.st60 {
		fill: #020202;
	}

	.st61 {
		fill: #080808;
	}

	.st62 {
		fill: #111111;
	}

	.st63 {
		fill: #0E0E0E;
	}

	.st64 {
		fill: #050300;
	}

	.st65 {
		fill: #0F0900;
	}

	.st66 {
		fill: #120B00;
	}

	.st67 {
		fill: #0E0800;
	}

	.st68 {
		fill: #070501;
	}

	.st69 {
		fill: #FFFBF5;
	}

	.st70 {
		fill: #0B0905;
	}

	.st71 {
		fill: #0C0700;
	}

	.st72 {
		fill: #080603;
	}

	.st73 {
		fill: #FFF9EF;
	}

	.st74 {
		fill: #190F00;
	}

	.st75 {
		fill: #F9F2E9;
	}

	.st76 {
		fill: #0D0D0D;
	}

	.st77 {
		fill: #0F0F0F;
	}

	.st78 {
		fill: #171717;
	}

	.st79 {
		fill: #2A2A2A;
	}

	.st80 {
		fill: #3B3B3B;
	}

	.st81 {
		fill: #1A1A1A;
	}

	.st82 {
		fill: #151515;
	}

	.st83 {
		fill: #323232;
	}

	.st84 {
		fill: #444444;
	}

	.st85 {
		fill: #040301;
	}

	.st86 {
		fill: #030202;
	}

	.st87 {
		fill: #181818;
	}

	.st88 {
		fill: #101010;
	}

	.st89 {
		fill: #5F5F5F;
	}

	.st90 {
		fill: #F99600;
	}

	.st91 {
		fill: #F79400;
	}

	.st92 {
		fill: #FE9800;
	}

	.st93 {
		fill: #131313;
	}

	.st94 {
		fill: #050505;
	}

	.st95 {
		fill: #EBEBEB;
	}

	.st96 {
		fill: none;
	}

	.st97 {
		font-family: 'simpleshow';
	}

	.st98 {
		font-size: 40px;
	}

	.st99 {
		font-size: 48px;
	}

	.st100 {
		fill: #FCFDFD;
	}

	.st101 {
		fill: #FDFEFE;
	}

	.st102 {
		fill: #FAFCFC;
	}

	.st103 {
		fill: #F3F6F6;
	}

	.st104 {
		fill: #B8BABA;
	}

	.st105 {
		fill: #8CA7A7;
	}

	.st106 {
		fill: #050404;
	}

	.st107 {
		fill: #302828;
	}

	.st108 {
		fill: #FEFDFD;
	}

	.st109 {
		fill: #080500;
	}

}
/* end - SVG styles affecting other elements outside the svg */

#hanger_background{
	animation: fadeInUp 1s;
}

@keyframes fadeInUp {
	from {
		opacity: 0;
		transform: translateY(20%);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}
